body {
    background-color: #fce4ff;
}

#titulo {
    color: #a00e94;
    font-size: 50px;
    text-align: center;
}

.texto {
    color: #a92fd9;
    font-size: 30px;
    text-align: justify;
}

#imagem{
    height: 200px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: 2px groove  #362FD9;
    border-radius: 20px;

}